body {
    background-color: rgb(141, 140, 140);

}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#forum_contaier {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}